@charset "UTF-8";
/* ==========================================================================
   MAGNETIS: Variables
   ========================================================================== */
/* Generic
   ========================================================================== */
/* Grid
   ========================================================================== */
/* Typography
   ========================================================================== */
/* Colors
   ========================================================================== */
/* Links
   ========================================================================== */
/* Buttons
   ========================================================================== */
/* Divisors
   ========================================================================== */
/* Effects
   ========================================================================== */
/* Bars
   ========================================================================== */
/* Inputs
   ========================================================================== */
/* Table list
   ========================================================================== */
/* Dropdown
   ========================================================================== */
/* Data grid
   ========================================================================== */
/* Tooltip
   ========================================================================== */
/* Logo
   ========================================================================== */
/* Alert
   ========================================================================== */
/* Flash message
   ========================================================================== */
/* Balloon list
   ========================================================================== */
/* Sections » Home
   ========================================================================== */
/* Sections » Fund search
   ========================================================================== */
/* Sections » Fund search
   ========================================================================== */
/* Titles
   ========================================================================== */
/* Home
   ========================================================================== */
/* Return Table
   ========================================================================== */
/* Signs
   ========================================================================== */
/* ==========================================================================
   Gauge
   ========================================================================== */
/* Range Slider
   ========================================================================== */
/* Risk
   ========================================================================== */
/* ==========================================================================
   MAGNETIS » Dropdown menu
   ========================================================================== */
/**
 * A combo of navigation list where each item can have an individual menu.
 *
 * Markup:
 * <!-- Starting module's script -->
 * <script>
 *  $(function() {
 *    var ddm = new DropdownMenu($('.js-dropdown-menu'));
 *  });
 * </script>
 *
 */
body {
  background: #eee; }

.dropdown-menu {
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 999; }

/* Dropdown menu » List
   ========================================================================== */
.dropdown-menu__list {
  position: absolute;
  white-space: nowrap;
  display: none; }

.dropdown-menu__list li {
  font-family: sans-serif;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0; }

/* ==========================================================================
   MAGNETIS » Navigation
   ========================================================================== */
/**
 * Placeholder: navigation base style.
 */
.navigation, .navigation--fixed, .navigation--transparent {
  position: relative;
  height: em(90px); }
  .navigation [class*="icon-"], .navigation--fixed [class*="icon-"], .navigation--transparent [class*="icon-"] {
    color: #16a0df; }
  .navigation [class*="logo"], .navigation--fixed [class*="logo"], .navigation--transparent [class*="logo"] {
    float: left;
    display: inline-block;
    margin-top: em(32px); }
  .navigation .heisenberg-hat, .navigation--fixed .heisenberg-hat, .navigation--transparent .heisenberg-hat {
    position: absolute;
    top: em(10px);
    left: em(-13px); }
  .navigation .say-my-name, .navigation--fixed .say-my-name, .navigation--transparent .say-my-name {
    left: em(10px);
    top: em(13px); }

/**
 * Placeholder: navigation divisor item.
 */
.navigation .navigation-menu__item:not(:last-child):not(.no-divisor):after, .navigation--fixed .navigation-menu__item:not(:last-child):not(.no-divisor):after {
  content: "";
  display: block;
  position: absolute;
  top: 15px;
  right: -20px;
  width: 1px;
  height: 8px;
  background: #cbcac8; }

/**
 * Placeholder: item base typography format.
 */
.navigation-menu__item {
  font-family: sans-serif;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0; }

/**
 * Placeholder: add link behavior to inner <a> tags and icons.
 */
.navigation .navigation-menu__item:hover [class*="icon-"], .navigation--fixed .navigation-menu__item:hover [class*="icon-"] {
  color: #d90000; }

/**
 * Placeholder: apply divisors on navigation menu items.
 */
/* Navigation » Wrapper
   ========================================================================== */
.navigation-wrapper {
  position: relative;
  width: width-from-columns(12);
  margin: 0 auto; }

/* Navigation » Menu
   ========================================================================== */
.navigation-menu {
  margin: 0;
  padding: 0;
  margin-top: em(30px);
  float: right; }
  .navigation-menu [class*="icon-"] {
    margin-right: em(10px); }
  .navigation-menu [class*="button"] {
    letter-spacing: .2pt;
    padding: 0 em(35px); }

/* Navigation » Menu » Item
   ========================================================================== */
.navigation-menu__item {
  display: inline-block;
  margin-right: em(38px, 15px);
  position: relative;
  line-height: 40px;
  cursor: pointer; }
  .navigation-menu__item:last-child {
    margin-right: 0; }

/* Navigation
   ========================================================================== */
/**
 * Default version of navigation.
 */
/**
 * Modifier: fixed version of navigation. Will remain at the top of the page.
 */
.navigation--fixed {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: #fbfbfb;
  z-index: 999; }
  .navigation--fixed:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background: rgba(0, 0, 0, 0.07); }

/**
 * Modifier: transparent version of navigation.
 */
.navigation--transparent .navigation-menu__item a,
.navigation--transparent .navigation-menu__item [class*="icon-"] {
  text-decoration: none;
  text-shadow: rgba(0, 0, 0, 0.27) 1px 1px 1px;
  opacity: .7;
  color: #fff; }
.navigation--transparent .navigation-menu__item:hover * {
  opacity: 1; }

/* ==========================================================================
   MAGNETIS » Link
   ========================================================================== */
/**
 * Link.
 *
 * Markup:
 *
 * <a href="#" class="link"></a>
 */
.link, .navigation .navigation-menu__item a:not([class*="button"]), .navigation--fixed .navigation-menu__item a:not([class*="button"]), .blueish-link, .discret-link {
  text-decoration: none;
  cursor: pointer;
  color: #16a0df; }

.blueish-link {
  color: #16a0df; }

.swap-images-link:hover > * {
  opacity: 0; }

.discret-link {
  color: #ccc;
  font-size: em(14px); }

/* ==========================================================================
   MAGNETIS » Link
   ========================================================================== */
.link, .navigation .navigation-menu__item a:not([class*="button"]), .navigation--fixed .navigation-menu__item a:not([class*="button"]), .blueish-link, .discret-link {
  /**
   * State: link hover state.
   */
  /**
   * State: link active state.
   */
  /**
   * State: link disabled state.
   */ }
  .link:hover, .navigation .navigation-menu__item a:hover:not([class*="button"]), .navigation--fixed .navigation-menu__item a:hover:not([class*="button"]), .blueish-link:hover, .discret-link:hover {
    color: #1387bc;
    outline: none; }
  .link:active, .navigation .navigation-menu__item a:active:not([class*="button"]), .navigation--fixed .navigation-menu__item a:active:not([class*="button"]), .blueish-link:active, .discret-link:active {
    color: #7f7c76;
    outline: none; }
  .link:disabled, .navigation .navigation-menu__item a:disabled:not([class*="button"]), .navigation--fixed .navigation-menu__item a:disabled:not([class*="button"]), .blueish-link:disabled, .discret-link:disabled, .link.is-disabled, .navigation .navigation-menu__item a.is-disabled:not([class*="button"]), .navigation--fixed .navigation-menu__item a.is-disabled:not([class*="button"]), .is-disabled.blueish-link, .is-disabled.discret-link {
    color: #cccccc; }
  .link.current, .navigation .navigation-menu__item a.current:not([class*="button"]), .navigation--fixed .navigation-menu__item a.current:not([class*="button"]), .current.blueish-link, .current.discret-link {
    color: #4b4840; }

.blueish-link:hover {
  color: #1596d1; }
.blueish-link:active {
  color: #148fc8; }

.discret-link:hover {
  color: #a6a6a6; }
